.box{
    height: 50px;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
}

.right{
    right: 15px;
}

.aboutmeImage{
    background-image: url(../images/keithcosta2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%, 40%;
}

.x{
    float: left;
}

#contactform{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

.linkimg{
    height: 100px;
    margin-top: 25px;
    margin-right: 40px;
    margin-left: 40px
}

.linkimggray{
    position:relative;
    left:-186.5px;
}

@media only screen and (max-width: 760px){ 
    .linkimg{
        height: 65px;
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 768px){ 
    .aboutmeImage{
        display: none !important;
    }

@media only screen and (max-width: 375px){ 

    .paddingdelete {
        padding: 0px !important;
    }

    .smcenter{
        position: absolute;
        left:50%;
        transform: translateX(-50%)
    }

    .smmargintop{
        margin-top: 30px;
    }

    .paddingbottomzero{
        padding-bottom: 0px !important;
    }
}

