/* FONT */

.font {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.fontLight {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.justify{
    text-align:justify;
}

.underline{
    text-decoration: underline;
}

/* COLORS */

.green {
    color:#2f9583;
}

.greenborder1 {
    border-style: solid;
    border-color:#2f9583;
    border-width: 2px;
}

.greenborder{
    border-color: #2f9583 !important;
    background-color: #2f9583 !important;
    border-width: 0px;
    }

.greenimportant{
    color: #2f9583 !important;
}

.greenbg{
    background-color: #2f9583;
}

.greenborderLM{
    border-color: #2f9583;
    border-width: 2px;
    border-style: solid;
}

.greenborderLM:hover{
    background-color: #2f9583;
    color: white
}

.orange{
    color: #e98b2d;
}

.orangebg{
    background-color: #e98b2d
}

.orangehover:hover{
    color: #e98b2d !important;
}

.backgroundpattern{
    background-image: url('../images/AboutMebackground.png');
    /* background-color: #e98b2d; */
}

/* .fadedbackground{
    background: rgba(255, 255, 255, 0.6);
} */

.mainimage{
    object-fit: cover;
    width: 100%;
    max-height: 100vh;
}

.mainimage2{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    z-index: 20;
    position: absolute;
    top: 0px;
    display: none;
}


.home{
    /* object-position: fixed; */
    position:relative; 
     z-index: -1; 
     max-height: 100vh;
}



.bar{
    height: 20px;
    /* background-color: #2f9583; */
}

.container{
    width: 100%
}

.learnmore{
    width:240px;
}

.roundedcorners{
    border-radius: 20px;
}

.textoverflow{
    overflow: auto;
    max-height: 425px;
    transition: max-height 1s;
    /* overflow: hidden; */
}

/* @media only screen and (max-width: 1350px){ 
    .aboutmeImage{
        max-height: 350px;
        border-radius: 50%;
        max-width: 100%;
        margin-left: 10%;
    }
} */

@media only screen and (max-width: 770px){ 

    .emptybox{
        padding: 0px !important;
    }

}

@media only screen and (max-width: 1150px){
    .textoverflow{
        overflow: auto;
        max-height: 390px;
        /* overflow: hidden; */
    }
}

@media only screen and (max-width: 1000px){
    .textoverflow{
        overflow: auto;
        max-height: 335px;
        /* overflow: hidden; */
    }
}


@media only screen and (max-width: 850px){
    .textoverflow{
        overflow: auto;
        max-height: 270px;
        /* overflow: hidden; */
    }

    .learnmore{
        font-size: 20px !important;
        width: 180px;
    }

}

@media only screen and (max-width: 775px){
    .textoverflow{
        overflow: auto;
        max-height: 255px;
        /* overflow: hidden; */
    }


}

@media only screen and (max-width: 770px){
    .textoverflow{
        overflow: auto;
        max-height: 350px;
        /* overflow: hidden; */
    }


}

@media only screen and (max-width: 500px){
    .featuredworks{
        font-size: 30px !important;
    }


}

/* @media only screen and (max-width: 1110px){ 
    .smallertext{
        font-size: 14px
    }
}

@media only screen and (max-width: 950px){ 
    .smallertext{
        font-size: 12px
    } */
/* } */

.fourteenpixelfont{
    font-size: 14px;
}

.sixteenpixelfont{
    font-size: 16px;
}

.twentypixelfont{
    font-size:20px;
}

.twentytwopixelfont{
    font-size:22px;
}

.twentyfivepixelfont{
    font-size:25px;
}

.thirtypixelfont{
    font-size:30px;
}

.thirtyeightpixelfont{
    font-size:38px;
}

.sixtyfivepixelfont{
    font-size:55px;
}

.lineheight85{
    line-height: 85%;
}

.lineheight90{
    line-height: 90%;
}

.lineheight95{
    line-height: 110%;
}

.lineheight155{
    line-height: 162%;
}


@media only screen and (max-width: 880px){ 
    .thirtypixelfont{
        font-size: 24px
    }
}

a{
    text-decoration: none;
}

.nodecoration{
    text-decoration: none;
    list-style-type: none;
}

a:hover{
    text-decoration: none;
}

.underline{
    text-decoration: underline
}

.mainportfolioimage{
    width: 100%;
    height: 100%;
}

.auxportfolioimage{
    width: 100%;
    /* height: 100%; */
}

.mainportfoliologo{
    position: absolute;
    bottom: 25%;
    left: 17.5%;
    max-width: 60%;
}

.mainportfoliologosts{
    position: absolute;
    bottom: 45%;
    left: 10%;
    max-width: 80%;
}

.auxportfoliologo{
    position: absolute;
    bottom: 35%;
    left: 25%;
    max-width: 50%;
}

.auxportfoliologo-ssl{
    position: absolute;
    bottom: 15%;
    left: 25%;
    max-width: 50%;
}

.auxportfoliologo-pdm{
    position: absolute;
    bottom: 10%;
    left: 10%;
    max-width: 80%;
}

.grayscale:hover{
    filter: grayscale(100%);
}

.orangehoverbg:hover{
    background-color: #e98b2d;
}

.whitehover:hover{
    filter: brightness(100%);
}

.h100{
    height:100%
}

.vh100{
    height: 100vh
}

.h50{
    height: 50%
}

.w100{
    width:100%
}

.vw100{
    width:100vw;
}

.h75{
    height:75%
}

.h25{
    height:25%
}

.vh100{
    height: 95vh
}


::placeholder {
    color: #2f9583
}

.submitbttn{
    border-color: white;
    border-width: 2px;
    border-style: solid;
    color: white;
}

.submitbttn:hover{
    color: #e98b2d;
    background-color: white;
}

.pointer{
    cursor: pointer
}

/* POSTS */


.posthome{
    position:relative;
    max-height: 100vh;
}

.test1{
    position:fixed;
    top:45px;
    transition: 5s linear;
}

.floatleft{
    float: left;
}

.floatright{
    float: right;
}

.posrel{
    position: relative;
}

.mw80{
    max-width: 80%;
}

.nexttext{
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100px;
    width: 255px;
    opacity: 0.8;
    display: none;
}

.nexttextparent:hover .nexttext{
    display: block;
}

/* Graphic Design and Web Developement pages */

.card{
    height: 100vh;
}

.cardimg{
    object-fit: cover;
    width: 100%;
    height: 350px; 
}

.h400{
    height: 370px;
}

.learnmore{
    margin-top: 250px;
}


@media only screen and (max-width: 575px){ 
    .wrapper {
        display: flex;
        flex-direction: column;
      }
      .wrapper div:first-child {
        order: 1;
      }

    }

